@tailwind base;
@tailwind components;
@tailwind utilities;

.bggg {
  background: url(../assets/about.jpg);
  padding: 5rem;
  color: white;
  font: bold 1.5rem/1.5rem Helvetica, Arial, sans-serif;
  @apply p-[2rem] sm:text-sm flex justify-center  flex-col h-[30vh] sm:h-[15vh] items-center;
}
.bggg > h1 {
  @apply text-5xl sm:text-3xl;
}
.bggg > span {
  @apply text-xl sm:text-sm text-yellow;
}

.course {
  background: url(../assets/coursebg.jpg);
  padding: 5rem;
  color: white;
  @apply p-[2rem]  h-[65vh] sm:h-[65vh];
}
